.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: block; }

/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #FFF; }

/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%; }

/*because legend doesn't inherit in IE */
legend {
  color: #000; }

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

body {
  background-color: #fff;
  font-size: 14px;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  color: #3e3749; }

body a {
  color: #3e3749; }

.popup {
  display: block;
  position: relative;
  margin: 20px auto;
  max-width: 600px;
  width: 100%; }
  .popup-title {
    font-size: 2.9rem; }

.chatlog {
  width: 100%; }
  .chatlog-mess {
    width: 80%; }
  .chatlog-time {
    width: 50px; }
  .chatlog-new {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-top: 1px solid #f1f1f1;
    padding: 5px 0;
    margin: 5px; }
  .chatlog-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 0 0; }
  .chatlog-form {
    width: 100%; }

.class {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: top;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 16px;
  margin: 12px 0; }
  .class-flex {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: top;
    -webkit-align-items: top;
        -ms-flex-align: top;
            align-items: top; }
  .class-prev {
    display: inline-block; }
  .class-desc {
    margin-left: 20px;
    margin-top: 12px;
    display: inline-block;
    text-align: left; }

.success {
  color: #38a127;
  border-color: #38a127; }

.warning {
  color: #f07828;
  border-color: #f07828; }

.text__success {
  color: #38a127; }

.text__warning {
  color: #f07828; }

.text__danger {
  color: #b12929; }

.text__accent {
  color: #f0c445; }

.fp-Video {
  border: 1px double black;
  width: 100%;
  height: 500px;
  text-align: center;
  background: #c0c0c0;
  margin: 0 auto 0 auto; }
